<div fxLayout  style="height: 60%;"  fxLayoutAlign="center center">
<!-- fxLayoutAlign="center center" fxFlexLayout="column" -->
 
<mat-card fxFlex.sm="70%" fxFlex.gt-sm="40%">
<!-- fxFlex="40" fxFlexLayout="column" fxLayoutAlign="stretch" -->
<mat-toolbar color="primary">Login</mat-toolbar>

    <form (ngSubmit)="submit()" #form="ngForm" fxLayout="column" style="margin:16px;">
    <mat-form-field>
        <input [readonly]="otpmode"  minlength="10" maxlength="10" matInput ngModel placeholder="mobile number" #mob="ngModel" name="mobile" required>
    </mat-form-field>
    <mat-form-field>
        <input [disabled]="mobilemode" matInput placeholder="otp" required ngModel name="otp" #otpref="ngModel" minlength="5" maxlength="=6" >
    </mat-form-field>
    
        <button [disabled]="(!(mobilemode&&mob.valid))&&(mobilemode&&!otpref.valid)||
        ((!(mobilemode&&mob.valid))&&(!mobilemode&&!otpref.valid))" mat-raised-button color="primary" type="submit">Proceed</button>
    
</form></mat-card>
</div>